services:
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb
    restart: always
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    image: mariadb:42

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    restart: always
    env_file: .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - mariadb
    networks:
      - inception
    image: wordpress:42

  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    restart: always
    env_file: .env
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - inception
    image: nginx:42

  redis:
    build: ./requirements/bonus/redis/
    container_name: redis
    restart: always
    env_file: .env
    depends_on:
      - wordpress
    networks:
      - inception
    image: redis:42

  website:
    build: ./requirements/bonus/website/
    container_name: website
    restart: always
    networks:
      - inception
    image: website:42

  adminer:
    build: ./requirements/bonus/adminer/
    container_name: adminer
    restart: always
    depends_on:
      - mariadb
    networks:
      - inception
    image: adminer:42

  cadvisor:
    build: ./requirements/bonus/cadvisor/
    container_name: cadvisor
    restart: always
    networks:
      - inception
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    image: cadvisor:42

  ftp:
    build: ./requirements/bonus/ftp/
    container_name: ftp
    restart: always
    env_file: .env
    ports:
      - "21:21"
      - "30000-30009:30000-30009"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    image: ftp:42

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wordpress
  
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/mariadb

networks:
  inception:
